@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body,
#root,
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;

  svg {
    height: 100%;
  }
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

div.ui.raised.segments.aside {
  margin-bottom: 0;
  height: 100vh;
  width: 300px;
  overflow-y: auto;

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  div.ui.raised.segment.colors-wrap {
    margin-bottom: 0;
    overflow-y: auto;
    height: 92%;
  }
}
